RESEND_API_KEY=your_resend_api_key_here
EMAIL_FROM=noreply@yourdomain.com
EMAIL_TO=you@example.com
MONITOR_URL=https://hardverapro.hu/aprok/mobil/mobil/iphone/iphone_16/iphone_16_pro/keres.php?stext=&stcid_text=&stcid=&stmid_text=&stmid=&minprice=210000&maxprice=250000&cmpid_text=&cmpid=&usrid_text=&usrid=&__buying=1&__buying=0&stext_none=&__brandnew=1&__brandnew=0
INTERVAL_SECONDS=3600
